body {
  background: whitesmoke !important; }

.nopadding {
  padding: 0px !important; }

.section-one {
  margin-top: 70px; }
  .section-one .card-img-top {
    position: absolute;
    top: -30px;
    left: 50%;
    margin-left: -25px;
    width: 50px !important;
    height: 50px;
    background: #ed3000; }
  .section-one .card {
    border: 0px;
    cursor: pointer;
    border-top: 3px solid #ed3000;
    border-radius: 0px;
    padding: 30px 25px;
    background: white;
    -webkit-transition-duration: 0.6s;
    -moz-transition-duration: 0.6s;
    -o-transition-duration: 0.6s;
    transition-duration: 0.6s; }
    .section-one .card:hover {
      -webkit-box-shadow: rgba(128, 128, 128, 0.4) 0px 0px 52px 6px;
      -moz-box-shadow: rgba(128, 128, 128, 0.4) 0px 0px 52px 6px;
      box-shadow: rgba(128, 128, 128, 0.4) 0px 0px 52px 6px;
      -webkit-transform: scale(1.2, 1.2);
      -moz-transform: scale(1.2, 1.2);
      -ms-transform: scale(1.2, 1.2);
      -o-transform: scale(1.2, 1.2);
      transform: scale(1.2, 1.2);
      z-index: 10; }
      .section-one .card:hover .btn {
        background: #ed3000;
        color: white; }
  .section-one .cards {
    display: flex;
    padding: 0 3px; }

.section-two {
  margin-top: 60px;
  /* this border color controlls the color of the triangle (what looks like the fill of the triangle) */
  /* this border color controlls the color of the triangle (what looks like the fill of the triangle) */ }
  .section-two .card {
    border: 0px;
    border-radius: 0px;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s; }
  .section-two .gallery-item {
    padding: 0;
    min-height: 180px; }
  .section-two .gallery-item:nth-child(even) .card-block {
    padding: 40px 30px; }
  .section-two .gallery-item:nth-child(odd) {
    background: black; }
    .section-two .gallery-item:nth-child(odd) .card-block {
      padding: 0px !important; }
  .section-two .gallery-item:nth-child(1) {
    border-bottom: 2px solid #ed3000; }
  .section-two .gallery-item:nth-child(1):after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    bottom: -2px;
    left: 0;
    right: 0;
    border-color: transparent transparent white transparent;
    margin: 0 auto;
    border-width: 15px; }
  .section-two .gallery-item:nth-child(1):before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    bottom: -2px;
    left: 0;
    right: 0;
    border-color: transparent transparent #ed3000 transparent;
    border-width: 17px;
    margin: 0 auto; }
  .section-two .gallery-item:nth-child(3) {
    border-left: 2px solid #ed3000; }
  .section-two .gallery-item:nth-child(3):after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    left: -2px;
    right: 0;
    border-color: transparent transparent transparent white;
    border-width: 15px;
    top: 45%; }
  .section-two .gallery-item:nth-child(3):before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    left: -2px;
    right: 0;
    top: 44.25%;
    border-color: transparent transparent transparent #ed3000;
    border-width: 17px; }
  .section-two .gallery-item:nth-child(5) {
    border-right: 2px solid #ed3000; }
  .section-two .gallery-item:nth-child(5):after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    right: -2px;
    border-color: transparent white transparent transparent;
    border-width: 15px;
    top: 45%; }
  .section-two .gallery-item:nth-child(5):before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    right: -2px;
    top: 44.25%;
    border-color: transparent #ed3000 transparent transparent;
    border-width: 17px; }
  .section-two .carousel-container {
    background: #ed3000;
    padding: 40px 20px !important; }
    .section-two .carousel-container h3 {
      color: white !important; }
    .section-two .carousel-container .carousel {
      height: 100%; }
      .section-two .carousel-container .carousel .item {
        color: white;
        height: 100%; }
      .section-two .carousel-container .carousel .carousel-title {
        color: white; }
      .section-two .carousel-container .carousel .carousel-caption {
        position: initial; }
      .section-two .carousel-container .carousel .carousel-indicators {
        padding: 30px 0;
        position: initial;
        display: inline-flex;
        justify-content: left;
        margin: 0px; }
        .section-two .carousel-container .carousel .carousel-indicators li {
          width: 12px;
          height: 12px;
          border-radius: 50%; }

.section-three {
  padding: 40px;
  /*===== // Vertical Timeline =====*/
  /*===== Resonsive Vertical Timeline =====*/ }
  .section-three .conference-timeline {
    position: relative;
    width: 100%;
    margin: 0 40px; }
  .section-three .conference-center-line {
    position: absolute;
    width: 2px;
    height: 100%;
    top: 0;
    left: 50%;
    margin-left: -2px;
    border: 1px dashed lightgray;
    z-index: -1; }
  .section-three .timeline-article {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    margin: -20px 0; }
    .section-three .timeline-article:nth-child(1) {
      margin: 0px; }
    .section-three .timeline-article .content-left-container,
    .section-three .timeline-article .content-right-container {
      max-width: 44%;
      width: 100%; }
    .section-three .timeline-article .timeline-author {
      display: block;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      color: #242424;
      text-align: right; }
    .section-three .timeline-article .content-left,
    .section-three .timeline-article .content-right {
      position: relative;
      width: auto;
      border: 1px solid #ddd;
      border-radius: 10px;
      background-color: #fff;
      -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.03);
      -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.03);
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.03);
      padding: 27px 25px; }
    .section-three .timeline-article .content-right .timeline-article p {
      padding: 0;
      font-weight: 400;
      color: #242424;
      font-size: 14px;
      line-height: 24px;
      position: relative; }
    .section-three .timeline-article p span.article-number {
      position: absolute;
      font-weight: 300;
      font-size: 44px;
      top: 10px;
      left: -60px;
      color: #00b0bd; }
    .section-three .timeline-article .content-left-container {
      float: left; }
    .section-three .timeline-article .content-right-container {
      float: right; }
    .section-three .timeline-article .content-left:before,
    .section-three .timeline-article .content-right:before {
      position: absolute;
      top: 20px;
      font-size: 23px;
      color: #fff; }
    .section-three .timeline-article .content-left:before {
      content: "\f0da";
      right: -8px; }
    .section-three .timeline-article .content-right:before {
      content: "\f0d9";
      left: -8px; }
    .section-three .timeline-article .meta-date {
      position: absolute;
      top: 20%;
      left: 50%;
      width: 70px;
      height: 70px;
      margin-left: -37px;
      color: lightgray;
      border-radius: 100%;
      border: 1px solid lightgray;
      background: #ffffff; }
    .section-three .timeline-article .meta-date .year {
      display: block;
      text-align: center;
      font-weight: 700; }
    .section-three .timeline-article .meta-date .year {
      font-size: 22px;
      line-height: 70px; }
  @media only screen and (max-width: 830px) {
    .section-three .timeline-article {
      margin: 20px 0 !important; }
    .section-three .conference-center-line {
      margin-left: 0;
      left: 55px; }
    .section-three .timeline-article .meta-date {
      margin-left: 0;
      left: 20px; }
    .section-three .timeline-article .content-left-container,
    .section-three .timeline-article .content-right-container {
      max-width: 100%;
      width: auto;
      float: none;
      margin-left: 110px;
      min-height: 53px; }
    .section-three .timeline-article .content-left-container {
      margin-bottom: 20px; }
    .section-three .timeline-article .content-left,
    .section-three .timeline-article .content-right {
      padding: 10px 25px;
      min-height: 65px; }
    .section-three .timeline-article .content-left:before {
      content: "\f0d9";
      right: auto;
      left: -8px; }
    .section-three .timeline-article .content-right:before {
      display: none; } }
  @media only screen and (max-width: 400px) {
    .section-three .timeline-article p {
      margin: 0; }
    .section-three .timeline-article p span.article-number {
      display: none; } }

/*===== // Resonsive Vertical Timeline =====*/
